In [14]:
import pandas as pd
import requests
!pip install bs4
from bs4 import BeautifulSoup

Requirement already satisfied: bs4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from bs4) (4.9.1)
Requirement already satisfied: soupsieve>1.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from beautifulsoup4->bs4) (2.0.1)

In [13]:
res = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
soup = BeautifulSoup(res.content,'html.parser')

In [11]:
text = soup.find_all('table', attrs={'class':'wikitable sortable'})

In [12]:
texttemp2 = text[0].find_all('tr')

In [5]:
len(texttemp2)

181

In [7]:
result = []
n= 0

for temp in texttemp2:
    
    temp2= temp.find_all('td')
    
    if (n!= 0):
        postalcode= temp2[0].text[0:-1]
        borough= temp2[1].text[0:-1]
        neighborhood= temp2[2].text[0:-1]
        
        if (borough!= 'Not assigned' and neighborhood== 'Not assigned'):
            
            neighborhood= borough
            
        result.append((postalcode, borough, neighborhood)) 
    
    n+= 1

In [8]:
df = pd.DataFrame(result, columns=['Postalcode', 'Borough', 'Neighborhood'])
df

,Postalcode,Borough,Neighborhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

In [10]:
df.shape

(180, 3)